<div class="row">
	<div class="span1">
	</div>
	
	<div class="span11">
		<div class="page-header">
			<h2>Resend confirmation instructions</h2>
			<br/>
			<p>
				You can resend the account confirmation instructions using
				the form below.
			</p>
		</div>
		
		<%= form_for(resource, as: resource_name, url: confirmation_path(
			resource_name), html: {method: :post, class: 'form-horizontal'}) do |f| %>
  
  		<%= devise_error_messages! %>

  		<div class='control-label'><%= f.label :email %></div>
  		<div class='controls'><%= f.email_field :email, :autofocus => true %></div>

  		<div class='form-actions'><%= f.submit "Resend confirmation instructions" %></div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>
