<%= render 'shared/page_header',
  flash: flash,
  title: 'Edit Profile',
  description: "Edit your profile information using the form below. You will
        need to provide your current password in order to use it. Your
        account must already be confirmed using the  confirmation email
        that was sent to you."
%>

<%= form_for(resource, as: resource_name, url: registration_path(
resource_name), html: {method: :put, class: 'form-horizontal' }) do |f| %>

  <%= devise_error_messages! %>
  <div class='row'>
    <div class='small-6 columns'>
  		<%= f.label :first_name %>
  		<%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class='small-6 columns'>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class='row'>
    <div class='small-6 columns'>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <div class='small-6 columns'>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
  </div>

  <div class='row'>
    <div class='small-6 columns'>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class='small-6 columns'>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class='row'>
    <div class='small-6 columns'>
      <%= f.label :current_password %>
      <%= f.password_field :current_password %>
    </div>

    <div class='small-6 columns'>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">

      <div class='row form-actions'>
      		<%= f.submit "Update", class: 'button small radius success' %>

          <% if controller.action_name == 'edit' %>
            &nbsp;
            <%= render partial: 'shared/account_button_link', locals: {
                user: @user}  %>
            &nbsp;
          <% end %>


      		<%= link_to "Back", :back, class: 'button small radius secondary' %>


      		<%= link_to "Cancel Account", registration_path(resource_name),
      			method: :delete,
      			data: {confirm: "Are you sure?"},
      			class: 'right button small radius alert' %>
      </div>
    </div>
  </div>
<% end %>

