<%= render 'shared/page_header',
  flash: flash,
  title: 'Sign Up',
  description: "You can sign for an account using the form below."
%>

<%= form_for(resource, as: resource_name, url: registration_path(
	resource_name)) do |f| %>

	<%= devise_error_messages! %>

	<div class='row'>
		<div class='small-6 columns'>
			<%= f.label :first_name %>
			<%= f.text_field :first_name, :autofocus => true %>
		</div>
		<div class='small-6 columns'>
			<%= f.label :last_name %>
			<%= f.text_field :last_name %>
		</div>
	</div>

	<div class='row'>
		<div class='small-6 columns'>
			<%= f.label :email %>
			<%= f.email_field :email %>
		</div>
		<div class='small-6 columns'>
			<%= f.label :phone %>
			<%= f.text_field :phone %>
		</div>
	</div>

	<div class='row'>
		<div class='small-6 columns'>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
		<div class='small-6 columns'>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</div>
	</div>

	<div class="row">
	  <div class="small-12 columns">
			<div class='form-actions'>
				<%= f.submit "Sign Up", class: 'action-button' %>
			</div>
		</div>
	</div>

<% end %>

<br/>
<br/>
