<div class="row">
	<div class="span1">
	</div>
	
	<div class="span11">
		<div class="page-header">
			<h2>Sign Up</h2>
			<p>
				You can sign for an account using the form below. 
			</p>
		</div>
	
		<%= form_for(resource, as: resource_name, url: registration_path(
			resource_name), html: {class: 'form-horizontal'}) do |f| %>
		
			<%= devise_error_messages! %>
		
			<div class='control-label'><%= f.label :first_name %></div>
			<div class='controls'><%= f.text_field :first_name, :autofocus => true %></div>
			<br/>
		
			<div class='control-label'><%= f.label :last_name %></div>
			<div class='controls'><%= f.text_field :last_name %></div>
			<br/>
		
			<div class='control-label'><%= f.label :phone %></div>
			<div class='controls'><%= f.text_field :phone %></div>
			<br/>
		
			<div class='control-label'><%= f.label :email %></div>
			<div class='controls'><%= f.email_field :email %></div>
			<br/>
		
			<div class='control-label'><%= f.label :password %></div>
			<div class='controls'><%= f.password_field :password %></div>
			<br/>
		
			<div class='control-label'><%= f.label :password_confirmation %></div>
			<div class='controls'><%= f.password_field :password_confirmation %></div>
			<br/>
		
			<div class='form-actions'>
				<%= f.submit "Sign Up", class: 'btn btn-primary' %>
			</div>
		<% end %>

		<%= render "devise/shared/links" %>
		<br/><br/>
	</div>
</div>
