<%= render 'shared/page_header',
  flash: flash,
  title: 'Resend Unlock Instructions',
  description: "You can resend account unlock instructions using the form below."
%>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name),
	html: {method: :post}) do |f| %>

	<%= devise_error_messages! %>

	<div class='row'>
		<div class='small-6 columns'>
			<%= f.label :email %>
			<%= f.email_field :email, autofocus: true %>
		</div>
	</div>

	<div class="row">
	  <div class="small-12 columns">
			<div class='form-actions'>
				<%= f.submit "Resend Unlock Instructions", class: 'action-button' %>
			</div>
		</div>
	</div>

<% end %>
