<div class="page-header">
	<h2>Resend Unlock Instructions</h2>
	<p>
		You can resend account unlock instructions using the form below.
	</p>
</div>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name),
	html: {method: :post}) do |f| %>

	<%= devise_error_messages! %>

	<div class='row'>
		<div class='small-6 columns'>
			<%= f.label :email %>
			<%= f.email_field :email, autofocus: true %>
		</div>
	</div>

	<div class='form-actions'>
		<%= f.submit "Resend Unlock Instructions", class: 'button radius' %>
	</div>
<% end %>
