<%= render partial: 'shared/validation_errors' %>

<%= form_for @group do |f| %>

  <div class="row">
    <div class="small-6">
      <label>Name</label>
      <%= f.text_field :name %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'text_field span6' %>
    </div>
  </div>

  <!-- Section for setting up group members -->
  <% if @group.users.present? %>
    <h3>Group Members</h3>
    <p>
    The group members are listed below. As a default starting point, the
    group owner is also a member of the group.
    </p>

    <table class="table table-striped">
      <thead>
        <th>First name</th>
        <th>Last name</th>
        <th>Email address</th>
        <th>Remove</th>
      </thead>
      <tbody>
        <% @group.users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td clsss="center">
              <%= check_box_tag "group[user_ids][]", user.id %>
            </td>
          </tr>
        <% end %>
       </tbody>
    </table>
  <% end %>

  <% @resources = resource_list(user_id: current_user.id,
    group: @group, class: Group::RESOURCE_CLASS) %>

  <% if @resources.present? %>
    <h3><%= Group::RESOURCE_CLASS %> Access</h3>
    <p>
      Group members will be able to access those resources that you
      indicate in the checklist below. Please note that access to these
      resources will also give them access to other items related to
      the resource.
    </p>

    <div class="control-group">
      <label class='control-label'><%= @list_name %></label>

        <% @resources.each do |resource| %>
          <div class="controls">
            <div class="checkbox">
              <%= check_box_tag "group[resource_ids][]", resource[:id], resource[:related] %>
              <%= resource[:label] %>
            </div>
          </div>
        <% end %>
    </div>
    <br/>
  <% end %>


  <h3>Add New Members</h3>
  <p>
    Please list the email address of each new group member on separate line
    in the box below.
  </p>
  <br/>

  <div class="control-group">
    <%= f.label 'Members', class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :members, class: 'text_field span6', rows: 4,
        placeholder: "Enter email address of each member on a separate line." %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                groups_path, class: 'btn' %>
  </div>
<% end %>
