<%- model_class = Group -%>
<%= render 'shared/page_header', flash: flash, title: 'User Groups', description:
    "User groups enable you to grant access to service resources based
    on defined groups of users. The table below will show both the
    groups to which you belong and groups that you own. You only have the
    ability to edit and delete groups that you own." %>

<div class='row'>
  <div class='12-small columns'>
    <% if @groups.present? %>
    	<table class="full-width">
    		<thead>
    		  <tr>
    		    <th width="20%">Name</th>
    		    <th width="40%">Description</th>
    		    <th width="20%">Owner</th>
    		    <th width="20%"><%=t '.actions', :default => t("helpers.actions") %></th>
    		  </tr>
    		</thead>
    		<tbody>
    		  <% @groups.each do |group| %>
    		    <tr>
    		      <td><%= link_to group.name, group_path(group) %></td>
    		      <td><%= group.description.html_safe %></td>
    		      <td><%= get_owner_email(group) %></td>

    		      <td>
    		      	<% if group.owner_id == current_user.id %>
    					    <%= link_to t('.edit', default: t("helpers.links.edit")),
    					                edit_group_path(group), class: 'intable-success-button' %>
    					    <%= link_to t('.destroy', default: t("helpers.links.destroy")),
    					                group_path(group),
    					                method: :delete,
    					                data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
    					                class: 'intable-delete-button' %>
    		        <% else %>
    		        	No actions allowed
    		        <% end %>
    		      </td>
    		    </tr>
    		  <% end %>
    		</tbody>
    	</table>
    <% else %>
    	<p>
    		No groups have been created yet. Click on the <strong>New</strong>
    		button below to create your first one.
    	</p>
    <% end %>
  </div>
</div>
<div class='digg_pagination'>
  <%= will_paginate @groups %>
</div>

<div class='form-actions'>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_group_path,
            :class => 'success-button' %>
</div>

