<%= render 'shared/validation_errors', verrors: verrors  %>

<%= form_for user, html: { class: 'form-horizontal' } do |f| %>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="small-6 columns">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="small-6 columns">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
  </div>


  <div class="row">
    <div class="small-6 columns">
      <%= f.label :password %>
      <%= f.text_field :password, value: @user.password %>
    </div>

    <div class="small-6 columns">
      <%= f.label :password_confirmation, 'Confirm password' %>
      <%= f.text_field :password_confirmation, value: @user.password %>
    </div>
  </div>

  <div class='row'>
    <div class="small-6 columns">
      <%= f.label :role %>
      <%= f.radio_button :role, User::CUSTOMER %>
      <label>Customer &nbsp&nbsp</label>

      <%= f.radio_button :role, User::SERVICE_ADMIN %>
      <label>Service Admin.</label>
    </div>

    <div class="small-6 columns">
      <% if controller.action_name == 'edit' %>
        <div id="credit_card_area">
          <%= render partial: 'shared/account_button_link',
            locals: {user: @user}  %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.submit "Submit", class: 'action-button' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, class: 'cancel-button' %>
  </div>
<% end %>
