<%- model_class = User -%>
<div class="page-header">
  <h1>User Account Information</h1>
  <p>
    The user account information is shown below. You can and edit or
    destroy the user account using the buttons at the bottom of the
    page. You should note that the credit card information is being
    retrieved from <a href="http://www.stripe.com">Stripe.com</a> and
    not stored by our service.
  </p>
</div>
<%= render partial: 'shared/flash', locals: { flash: flash } %>  

<dl class="dl-horizontal">

  <dt><strong>Email:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong>First name:</strong></dt>
  <dd><%= @user.first_name %></dd>
  <dt><strong>Last name:</strong></dt>
  <dd><%= @user.last_name %></dd>
  <dt><strong>Phone:</strong></dt>  
  <dd><%= number_to_phone(@user.phone, delimiter: ".") %></dd>
  <br/>
  
  <dt><strong>User ID:</strong></dt>
  <dd><%= @user.id %></dd>
  <dt><strong>User Role:</strong></dt>
  <dd><%= @user.role_str %></dd>
  <dt><strong>Groups:</strong></dt>
  <dd>
    <% if @user.group_ids.present? %>
      <%= @user.group_ids %>
    <% else %>
      None
    <% end %>
  </dd>
  <br/>
  
  <dt><strong>Account Created:</strong></dt>
  <dd><%= @user.created_at %></dd>
  <dt><strong>Last Signed In:</strong></dt>
  <dd>
    <% if @user.last_sign_in_at.present? %>
      <%= @user.last_sign_in_at %>
    <% else %>
      User has not signed in yet
    <% end %>
  </dd>
  
  <dt><strong>Last Signed In IP:</strong></dt>
  <dd>
    <% if @user.last_sign_in_ip.present? %>
      <%= @user.last_sign_in_ip %>
    <% else %>
      User has not signed in yet
    <% end %>
  </dd>
  
  <dt><strong>Last Password Reset:</strong></dt>
  <dd>
    <% if @user.reset_password_sent_at.present? %>
      <%= @user.reset_password_sent_at %>
    <% else %>
      None sent
    <% end %>
  </dd>
  <br/>
  
  <dt><strong>Credit Card:</strong></dt>
  <dd>
    <% if @user.account.present? %>
      <% if @user.account.customer_id.present? %>
        Last 4 digits of credit card - <%= @user.account.last4 %><br/>
        Card type - <%= @user.account.card_type %><br/>
        Card expiration - <%= @user.account.expiration %>
      <% else %>
        No credit card associated with your account yet.
      <% end %>
    <% else %>
      No credit card associated with your account yet.
    <% end %>
  </dd>
  
</dl>

<div id="credit_card_area">
  <dl class="dl-horizontal">
    <dt></dt>
    <dd>
      <% if !@user.account.present?  %>
        <%= link_to 'Add Credit Card', new_user_account_url(@user), 
		      class: 'btn btn-info' %>
		  <% else %>
		    <% if @user.account.customer_id.present? %>
		      <%= link_to 'Update Credit Card', edit_user_account_url(@user, @user.account), 
		        class: 'btn btn-info' %>
		    <% else %>
		      <%= link_to 'Add Credit Card', new_user_account_url(@user), 
		        class: 'btn btn-info' %>
		    <% end %>
      <% end %>
    </dd>
  </dl>
</div>
 
<div class="form-actions">
  <%= link_to t('.back', default: t("helpers.links.back")),
              users_path, class: 'btn'  %>
  <%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_user_path(@user), class: 'btn' %>
              
  <%= link_to t('.destroy', default: t("helpers.links.destroy")),
              user_path(@user),
              method: 'delete',
              data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              class: 'btn btn-danger pull-right' %>
</div>
