<%= render 'shared/page_header',
  flash: flash,
  title: 'Forgot your password?',
  description: "If you forgot your password, use the form below to reset it."
%>

<%= form_for(resource, as: resource_name, url: password_path(
	resource_name), html: {method: :post}) do |f| %>
	<%= devise_error_messages! %>

	<div class='row'>
		<div class='small-6 columns'>
		<label>Email</label>
			<%= f.email_field :email, autofocus: true %>
		</div>
	</div>

<div class="row">
  <div class="small-12 columns">
		<div class='form-actions'>
			<%= f.submit "Send Password Reset", class: 'button radius' %>
		</div>
	</div>
</div>
<% end %>

<br/><br/>
