<h1>Contact Us</h1>
<p>
	You can contact us using the form below. If you would like us to
	contact you by phone, please include your phone number.
</p>
<%= render partial: 'shared/flash', locals: { flash: flash } %>
<%= render partial: 'shared/validation_errors', verrors: @verrors  %>

<%= form_for @contact, :url => home_create_contact_url do |f| %>

	<div class='row'>
		<div class='small-6 columns'>
			<%= f.label 'Name:'%>
			<%= f.text_field :name %>
		</div>

	</div>

	<div class='row'>
		<div class='small-6 columns'>
			<%= f.label 'Email:' %>
			<%= f.text_field :email %>
		</div>

		<div class='small-6 columns'>
			<%= f.label 'Phone:' %>
			<%= f.text_field :phone %>
		</div>
	</div>

	<div class='row'>
		<div class='small-12 columns'>
			<%= f.label 'Message' %>

			<%= f.text_area :body, rows: 10 %>
		</div>
	</div>

	<div class="form-actions">
		<%= f.submit 'Submit', :class => 'button small radius' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
			          home_support_url, :class => 'button small radius cancel' %>
	</div>

<% end %>
