<%- model_class = Project -%>
<div class="page-header">
  <% if current_user.role == User::SERVICE_ADMIN %>
    <h1>Service Wide Project Listing</h1>
    <p>
      This page will show you a complete listing of projects that
      have been created across the entire system. This view is a 
      <em>Service Administrator</em> view and should be used with 
      caution. These projects and the records associated with each
      project maybe shared with user groups that you designate.
    </p>     
  <% else %>
    <h1>Your Project List</h1>
    <p>
      This page will show you a complete listing of projects that you
      have created. These projects and the records associated with each
      project maybe shared with user groups that you manage. If you
      would like to create a <em>new</em> project, then use the 'New'
      button at the bottom at the page.
    </p>    
  <% end %>
  
</div>
<%= render partial: 'shared/flash', locals: { flash: flash } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Description</th>
      <th>Project Owner</th>
      <th>Groups</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.description %></td>
        <td><%= project.user.first_name %> <%= project.user.last_name %></td>
        <td>
          <% project.groups.each do |group| %>
            <%= group.name %><br/>
          <% end %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_path(project), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>
<p><br/></p>
