<%= render partial: 'shared/validation_errors' %>

<p>
  Please note that all plans come with a 30-day trial period. Your
  credit card will not be charged until after this 30-day trial period.
  You will need to cancel your account before the end of the trial
  period to avoid any chargers after the trial period.
</p>

<div class="panel">
<div class="row">

 <div class="large-4 column">
 <%= form_for @subscription, html: {class: 'form-horizontal'} do |f| %>
  <div class="control-group">
    <label class='control-label'>Subscription Plan</label>
    <div class="controls">
      <%= f.select(:stripe_plan_id, subscription_plans) %>
    </div>
  </div>
 </div>
</div>

<div class="row">
 <div class="large-4 column">
  <div class="control-group">
    <label class='control-label'>Coupon</label>
    <div class="controls">
      <%= f.text_field(:coupon_code) %>
    </div>
  </div>
 </div>
</div>

  <div class="form-actions">
    <%= f.submit 'Subscribe', class: 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_index_path, class: 'btn' %>
  </div>

<% end %>
