<!-- Image Slider Header -------------------------------------- -->
<div class="row">
<div class="large-12 columns">
    <div class="slideshow-wrapper">
      <div class="preloader"></div>
      <ul data-orbit>
        <li>
          <%= image_tag 'banner-1.jpg', alt: 'banner-1' %>
          <div class="orbit-caption">
            Fire up your next great idea.
          </div>
        </li>
        <li class="active">
          <%= image_tag 'banner-2.jpg', alt: 'banner-2' %>
          <div class="orbit-caption">
            User and subscription management from the start.
          </div>
        </li>
        <li>
          <%= image_tag 'banner-3.jpg', alt: 'banner-3' %>
          <div class="orbit-caption">
            A starting framework for your next web application.
          </div>
        </li>
      </ul>
    </div>
</div>
<h1>Listing subscriptions</h1>

<div class="row">
<div class="large-12 columns">
<table>
  <thead>
    <tr class="column_header">
      <th>Plan</th>
      <th>Stripe</th>
      <th>Cancel at period end</th>
      <th>Stripe customer</th>
      <th>Quantity</th>
      <th>Sub start</th>
      <th>Sub end</th>
      <th>Status</th>
      <th>Canceled at</th>
      <th>Current period start</th>
      <th>Current period end</th>
      <th>Ended at</th>
      <th>Trial start</th>
      <th>Trial end</th>
    </tr>
  </thead>
</div>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr class="row_entry">
        <td><%= subscription.stripe_plan_id %></td>
        <td><%= subscription.cancel_at_period_end %></td>
        <td><%= subscription.quantity %></td>
        <td><%= subscription.sub_start %></td>
        <td><%= subscription.sub_end %></td>
        <td><%= subscription.status %></td>
        <td><%= subscription.canceled_at %></td>
        <td><%= subscription.current_period_start %></td>
        <td><%= subscription.current_period_end %></td>
        <td><%= subscription.trial_start %></td>
        <td><%= subscription.trial_end %></td>
        <td id="column_entry"><%= link_to 'Show', subscription %></td>
        <td id="column_entry"><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
        <td id="column_entry"><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <div class='digg_pagination'>
      <%= will_paginate @projects %>
 </div>

<br>

<%= link_to 'New Subscription', new_subscription_path %>
