<!-- Image Slider Header -------------------------------------- 
<div class="row">
<div class="large-12 columns">
    <div class="slideshow-wrapper">
      <div class="preloader"></div>
      <ul data-orbit>
        <li>
          <%= image_tag 'banner-1.jpg', alt: 'banner-1' %>
          <div class="orbit-caption">
            Fire up your next great idea.
          </div>
        </li>
        <li class="active">
          <%= image_tag 'banner-2.jpg', alt: 'banner-2' %>
          <div class="orbit-caption">
            User and subscription management from the start.
          </div>
        </li>
        <li>
          <%= image_tag 'banner-3.jpg', alt: 'banner-3' %>
          <div class="orbit-caption">
            A starting framework for your next web application.
          </div>
        </li>
      </ul>
    </div>
</div>
-->
<%- model_class = Subscription -%>
<div class="page-header">
  <h1>Subscribe</h1>
  <p>
    You can subscribe to one of our subscription plans using the 
    form below. You have a choice of several plans at different 
    price points.
  </p>
</div>

<%= render partial: 'plan_options' %>

<%= render partial: 'form' %>

