<%- model_class = Project -%>
<div class="page-header">
  <h1>Your Subscription</h1>
  <p>
    The information on this page shows your current subscription. The
    subscription billing is handled by our billing partner Stripe.com.
  </p>
</div>
<%= render partial: 'shared/flash', locals: { flash: flash } %>

<dl class="dl-horizontal">
  <dd id="plan_entries"><strong>Plan Name: </strong><%= @subscription.plan_str %></dd>
  
  <dd id="plan_entries"><strong>Plan Start: </strong><%= @subscription.sub_start.to_date.to_formatted_s(:long) %></dd>
 
  <% if @subscription.sub_end.present? %>
    <dd id="plan_entries"><strong>Plan Start: </strong>%= @subscription.sub_end.to_date.to_formatted_s(:long) %></dd>
  <% end %>
  
  <dd id="plan_entries"><strong>Plan status: </strong><%= @subscription.status.capitalize %></dd>
  
  <% if @subscription.trial_start.present? %>
    <dd id="plan_entries"><strong>Trial Period Start: </strong><%= @subscription.trial_start.to_date.to_formatted_s(:long) %></dd>   
  <% else %>
    <dd id="plan_entries"><strong>Trial Period Start: </strong>No trial period found.</dd>
  <% end %>
  
  <% if @subscription.trial_end.present? %>
    <dd id+"plan_entries"><strong>Trial Period End: </strong><%= @subscription.trial_end.to_date.to_formatted_s(:long) %></dd> 
  <% else %>
    <dd id="plan_entries"><strong>Trial Period End: </strong>No trial period found</dd>
  <% end %>
  
  <% if @subscription.current_period_start.present? %>
    <dd id="plan_entries"> <strong>Billing Period Start: </strong><%= @subscription.current_period_start.to_date.to_formatted_s(:long) %></dd>
  <% end %>

  <% if @subscription.current_period_end.present? %>
    <dd id="plan_entries"> <strong>Billing Period End: </strong><%= @subscription.current_period_end.to_date.to_formatted_s(:long) %></dd>
  <% end %>
  
  <% if @subscription.canceled_at.present? %>
    <dd id="plan_entries"><strong>Canceled on: </strong><%= @subscription.canceled_at.to_date.to_formatted_s(:long) %></dd>
  <% end %>
  
</dl>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_index_path, :class => 'btn'  %>
  <%= link_to 'Change Plan',
              edit_subscription_path(@subscription), class: 'btn btn-primary' %>
</div>

