<%- model_class = Project -%>
<div class="page-header">
  <h1>Your Subscription</h1>
  <p>
    The information on this page shows your current subscription. The
    subscription billing is handled by our billing partner Stripe.com.
  </p>
</div>
<%= render partial: 'shared/flash', locals: { flash: flash } %>

<dl class="dl-horizontal">
  <dt><strong>Plan Name:</strong></dt>
  <dd><%= @subscription.plan_str %></dd>
  
  <dt><strong>Plan Start:</strong></dt>
  <dd><%= @subscription.sub_start.to_date.to_formatted_s(:long) %></dd>
</dl>
<% if false %>
<p>
  <strong>Plan:</strong>
  <%= @subscription.plan_id %>
</p>

<p>
  <strong>Stripe:</strong>
  <%= @subscription.stripe_id %>
</p>

<p>
  <strong>Cancel at period end:</strong>
  <%= @subscription.cancel_at_period_end %>
</p>

<p>
  <strong>Stripe customer:</strong>
  <%= @subscription.stripe_customer_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @subscription.quantity %>
</p>

<p>
  <strong>Sub start:</strong>
  <%= @subscription.sub_start %>
</p>

<p>
  <strong>Sub end:</strong>
  <%= @subscription.sub_end %>
</p>

<p>
  <strong>Status:</strong>
  <%= @subscription.status %>
</p>

<p>
  <strong>Canceled at:</strong>
  <%= @subscription.canceled_at %>
</p>

<p>
  <strong>Current period start:</strong>
  <%= @subscription.current_period_start %>
</p>

<p>
  <strong>Current period end:</strong>
  <%= @subscription.current_period_end %>
</p>

<p>
  <strong>Ended at:</strong>
  <%= @subscription.ended_at %>
</p>

<p>
  <strong>Trial start:</strong>
  <%= @subscription.trial_start %>
</p>

<p>
  <strong>Trial end:</strong>
  <%= @subscription.trial_end %>
</p>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_index_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_subscription_path(@subscription), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              edit_subscription_path(@subscription),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger pull-right' %>
</div>

