<%= render 'shared/validation_errors', verrors: verrors  %>

<%= form_for organization do |f| %>

  <div class="row">
    <div class="small-10 columns">
      <label>Name</label>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-10 columns">
      <label>Description</label>
      <%= f.text_area :description, rows: 4, placeholder: "Enter a brief project description" %>
    </div>
  </div>

  <div class="row">
    <div class="small-10 columns">
      <h4>Add New Organization Members</h4>
      <p>
        Please list the email address of each new organization member on separate line
        in the box below. Each member will receive an email notification that they
        have been added to the organization. <em>You should note that a user can
        only belong to a single organization.</em>
      </p>
      <%= f.text_area :members, rows: 4,
        placeholder: "Enter email address of each member on a separate line." %>
    </div>
  </div>

  <!-- Section for setting up group members -->
  <% if organization.users.present? %>
    <div class="row">
      <div class="small-12 columns">
        <h4>Organization Members</h4>
        <p>
          The organization members are listed below. As a default
          starting point, the organization owner is also a member of the
          organization.
        </p>

        <table class='full-width'>
          <thead>
            <th>First name</th>
            <th>Last name</th>
            <th>Email address</th>
            <th>Remove</th>
          </thead>
          <tbody>
            <% organization.users.each do |user| %>
              <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td class="center">
                  <%= check_box_tag "organization[user_ids][]", user.id %>
                </td>
              </tr>
            <% end %>
           </tbody>
        </table>

      </div>
    </div>
  <% end %>


  <div class="form-actions">
    <%= f.submit nil, class: 'success-button' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_index_path, class: 'cancel-button' %>
  </div>
<% end %>
