<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Ignition" %></title>

    <%= stylesheet_link_tag    "application" %>

    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= tag :meta, name: "pub_key", content: ENV['PUB_KEY'] %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <%= render partial: 'layouts/admin_devise_nav'%>
        <%= render partial: 'layouts/admin_side_menu' %>

        <section class="main-section">

          <div class='row'>

            <div class="small-10 small-offset-1 columns">
              <%= yield %>
            </div>

          </div> <!-- row -->

          <div class='row'>
            <footer class='admin'>
              <p>&copy; Company 2013</p>
            </footer>
          </div> <!-- row -->

        </section>

        <a class="exit-off-canvas"></a>

      </div>
    </div> <!-- off-canvas-wrap -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

    <!-- TinyMCE initializer after all javascripts have loaded -->
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>
      tinymce.init({
        mode : "specific_textareas",
        editor_selector : "tinymce",
        resize: "both",
        width: "75%",
        browser_spellcheck : true,
        content_css : "/assets/tinymce_content.css",
        body_class: "tinymce_body",
      });
    </script>
  </body>
</html>
