<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Ignition" %></title>

    <%= stylesheet_link_tag    "application" %>

    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= tag :meta, name: "pub_key", content: ENV['PUB_KEY'] %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

		<%= render :partial => 'layouts/admin_devise_nav'%>

    <div class='row'>
      <div class='small-2 columns side-bar'>

        <!-- SideBar Navigation
        ================================================== -->
        <br/>
        <ul class='ignition-side-nav'>
          <li <%= "#{active(admin_path)}" %>>
            <%= link_to '<i class="fi-home"></i> Dashboard'.html_safe, admin_path %>
          </li>

          <div class="side-nav-accordion">
            <dl class="accordion" data-accordion>
              <dd>
                <%= link_to '<i class="fi-wrench"></i> Settings'.html_safe,
                  '#settings_menu' %>

                <div id='settings_menu' class='content'>
                  <ul class='side-nav'>
                    <li <%= "#{active(edit_user_registration_path)}" %> >
                      <%= link_to '<i class="fi-torso"></i> Profile'.html_safe, edit_user_registration_path %>
                    </li>

                    <!-- Projects -->
                    <li <%= "#{active(projects_path)}" %> >
                      <%= link_to '<i class="fi-list"></i> Projects'.html_safe, projects_path %>
                    </li>

                    <!-- User groups -->
                    <li <%= "#{active(groups_path)}" %>>
                      <%= link_to '<i class="fi-torsos-all"></i> Groups'.html_safe, groups_path  %>
                    </li>

                    <!-- Subscription -->
                    <li <%= "#{active(new_subscription_path)}" %> >
                      <%= link_to '<i class="fi-dollar-bill"></i> Subscribe'.html_safe,
                        new_subscription_path %>
                    </li>
                    <!-- Service Administration Menu ========================= -->
                    <% if current_user.role == User::SERVICE_ADMIN %>
                      <li <%= "#{active(users_path)}" %> >
                        <%= link_to '<i class="fi-torsos"></i> Users'.html_safe,
                          users_path %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </dd>
            </dl>
          </div>
        </ul>
      </div>

      <div class="small-10 columns">
        <%= yield %>
      </div>
    </div> <!-- row -->

    <div class='row'>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- row -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

    <!-- TinyMCE initializer after all javascripts have loaded -->
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>
      tinymce.init({
        mode : "specific_textareas",
        editor_selector : "tinymce",
        resize: "both",
        width: "75%",
        browser_spellcheck : true,
        content_css : "/assets/tinymce_content.css",
        body_class: "tinymce_body",
      });
    </script>
  </body>
</html>
