<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ignition" %></title>
    <%= csrf_meta_tags %>
		<%= javascript_include_tag "https://js.stripe.com/v2/" %>
		<%= tag :meta, name: "pub_key", content: ENV['PUB_KEY'] %>	
		
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

		<%= render :partial => 'layouts/admin_devise_nav'%>

    <!-- SideBar Navigation
    ================================================== -->

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          
          <!-- Main menu section -->
          <ul class="well nav nav-list">
            <li class="nav-header">Main Menu</li>
            <li <%= @admin_active %>>
              <%= link_to '<i class="icon-home"></i> Dashboard'.html_safe, admin_url  %></li>
            
            <!-- accordion menu item -->

         		<li <%= @settings_active %> >
         			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
         			  <i class="icon-list-alt"></i> Settings <b class="icon-angle-down pull-right"></b></a>
         		</li>

						<div id="collapseOne" class="accordion-body collapse out">
           		<ul class="accordion-inner nav nav-list">
           		
           		  <!-- User account profile -->
                <li <%= @account_active %> >
                  <%= link_to '<i class="icon-user"></i> Profile'.html_safe,
                    edit_user_registration_url %>
                </li>
                
                <!-- Projects -->
                <li <%= @project_active %> >
                  <%= link_to '<i class="icon-book"></i> Projects'.html_safe,
                    projects_url %>
                </li>
                
                <!-- User groups -->
                <li <%= @groups_active %>>
                  <%= link_to '<i class="icon-th"></i> Groups'.html_safe, 
                    groups_url  %>
                </li>

                <!-- Subscription -->
                <li <%= @subscriptions_active %> >
                  <%= link_to '<i class="icon-repeat"></i> Subscribe'.html_safe,
                    new_subscription_url %>
                </li>
           		</ul>
            </div> <!-- collapsible section -->
          </ul> <!-- Main menu -->

          <br/>
          
          <!-- Service Administration Menu ========================= -->
          <% if current_user.role == User::SERVICE_ADMIN %>
		    
		        <ul class="well nav nav-list">
		          <li class="nav-header">Service Admin.</li>
		          
		          <li <%= @users_active %> >
		            <%= link_to '<i class="icon-user"></i> Users'.html_safe, 
		              users_url %>
		          </li>
		          
		          <li <%= @groups_active %> >
		            <%= link_to '<i class="icon-th"></i> Groups'.html_safe, 
		              groups_url %>
		          </li>
		          
		        </ul>
		     
		      <% end %>
		      
        </div> <!-- span for sidebar -->
        
        <div class="span10">
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    
    <!-- TinyMCE initializer after all javascripts have loaded -->
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>
      tinymce.init({
        mode : "specific_textareas",
        editor_selector : "tinymce",
        resize: "both",
        width: "75%",
        browser_spellcheck : true,
        content_css : "/assets/tinymce_content.css",
        body_class: "tinymce_body",
      });
    </script>	
  </body>
</html>
